@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0; /* Margem */
    padding: 0; /* Esapaçamento */
}

body, html{
    background-color: #000; /* Cor de Fundo - Background */
    color: #FFFFFF; /* Cor usada em outros layout */
}

a, a:hover, a:visited {
    color: unset; /* Não altera a cor automaticamente */
    text-decoration: none; /* Não altera a decoração de texto automaticamente */
}